<!-- Image and text -->
<nav class="navbar navbar-light navbar-custom">
  <a class="navbar-brand" href="#">
    <i class="fa fa-gratipay pr-2" aria-hidden="true"></i>
    <span class="v-line px-2.5rem"></span>
    Bootstrap
  </a>

  <div class="search-box">
    <input type="text" class="text-center " placeholder="&#xF002; Search">
  </div>

  <div>
    <!-- <span class="search">
      <input type="text" class="text-center search-box" name="search" placeholder="Search"><i
        class="fa fa-search fa-lg search-click" aria-hidden="true"></i>
    </span> -->
    <span>
      <a href=""><i class="fa fa-bell-o fa-lg" aria-hidden="true"></i></a>
    </span>
    <span>
      <a href=""><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></a>
    </span>
    <span>
      <a href=""><i class="fa fa-user-o fa-lg" aria-hidden="true"></i></a>
    </span>
  </div>
</nav>
<hr>
